body{
    text-align: center;
}
#mouse-div{
   margin: 0 auto;
   background-color: brown;
   height: 350PX;
   width: 550PX;
   padding: 25px;
   text-align: center;
   color: cornsilk;
}
.btn{
    padding: 5px;
    cursor: pointer;
    margin: 5px;
}